<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>

<div th:if="${not #lists.isEmpty(userList)}">
    userList:<br/>
    <ul th:each="list : ${userList}">
        <li>
            id:<span th:text="${list.userId}"></span> <br/>
            name:<span th:text="${list.userName}"></span>
        </li>
    </ul>
</div>

<div>
    <p>
        <script src="../static/xss.js"></script>
        用户的留言板：<br/>
        <span th:text="${userReview}"></span>
        <span><script src="../static/xss.js"></script></span>
    </p>
</div>

<hr/>

Please input user name to add user:<br/><br/>
<form method="POST">
    <input type="text" name="userName" size="25"><br/>
    <input type="submit" value="submit">
</form>

<br/>
<hr/>

Please input user id to delete user:<br/><br/>
<form method="POST">
    <input type="text" name="userId" size="25"><br/>
    <input type="submit" value="submit">
</form>

<p>
    网络图片：<br/>
</p>
<img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fblog%2F202108%2F
21%2F20210821113422_813ba.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q
=a80&n=0&g=0n&fmt=jpeg?sec=1644217461&t=b31877cd6db3139bbafe384b9cf92071"/>

<img src="http://localhost:9000/picture.jpg"/>

</body>
</html>